.header {
  position: fixed;
  max-width: 800px;
  width: 100%;
  background-color: white;
}

.header__searchBar-container {
  max-width: 100%;
  margin: 5px 0;

  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px;
}
