.app {
  margin: auto;
  max-width: 600px;
}
.app__header-container {
  position: relative;
}
.app__newsFeed-container {
  padding-top: 40px;
  border-right: 1px solid #B0BEC5;
  border-left: 1px solid #B0BEC5;
}
